
DataAccessLayer/obj/
DataAccessLayer/bin/Debug/

businessLogicLayer/obj/
businessLogicLayer/bin/Debug/
businessLogicLayer/BusinessLogicLayer.csproj.user

Models/obj/
Models/bin/Debug/

SupplierApiDemoProject/obj/
SupplierApiDemoProject/bin/BusinessLogicLayer.dll
SupplierApiDemoProject/bin/BusinessLogicLayer.pdb
SupplierApiDemoProject/bin/DataAccessLayer.dll
SupplierApiDemoProject/bin/DataAccessLayer.pdb
SupplierApiDemoProject/bin/Models.dll
SupplierApiDemoProject/bin/Models.pdb
SupplierApiDemoProject/bin/SupplierApiDemoProject.dll
SupplierApiDemoProject/bin/SupplierApiDemoProject.pdb

SupplierDemoPorject/obj/
SupplierDemoPorject/bin/SupplierDemoPorject.dll
SupplierDemoPorject/bin/SupplierDemoPorject.pdb